#title {
    background-color: rgb(224, 189, 140);
}

.container-fluid {
    padding-left: 5%;
    padding-top: 1.5%;
    padding-right: 5%;
}

.heading-text {
    font-family: "IBM Plex Mono", monospace;
    font-size: 2.5rem;
    font-weight: 400;
    text-align: left;
    line-height: 1.25;
}