body {
    font-family: "IBM Plex Mono",monospace;
}

#title {
    background-color: rgba(211, 177, 130, 0.733);
    line-height: 1.5;
}

.container-fluid {
    padding: 1.5% 10% 0;
}

.heading-text {
    font-family: "IBM Plex Mono", monospace;
    font-size: 2.5rem;
    font-weight: 400;
    text-align: left;
    line-height: 1.25;
    color: rgb(109, 77, 40);
}

.pizza-image {
    width: 60%;
    margin-bottom: 1.75rem;
    position: relative;
    left: 175px;
    top: 50px;
    transform: rotate(25deg);
}

/*Navigation bar*/

.navbar {
    padding: 0 0 2.5rem 0;
}

.navbar-brand {
    font-weight: 700;
    font-size: 2.25rem;
}

.nav-item {
    padding: 0 10px;
}

.nav-link {
    font-size: 18px;
    font-weight: 300;
}

.download-button {
    margin: 1.5rem 2.5rem 0.75rem 0
}

/* App Features */

#app-features {
    text-align: center;
    color: #8f8f8f;
    padding: 200px 0;
    background-color: white;
    position: relative;
}

.features-text {
    padding: 0 50px;
}

.features-title {
    color:rgb(100, 79, 33);
    margin-bottom: 15px;
    font-weight: 700;
}

.features-logo {
    color:rgb(212, 159, 93);
    margin: 15px 0 20px;
}

.features-logo:hover {
    color:rgb(88, 59, 23);
}

/* Testimonials */

#testimonials {
    background-color: rgba(211, 177, 130, 0.733);
}

.testimonial-image {
    text-align: right;
    margin:50px 0;
}

.testimonial-text {
    text-align: left;
    margin-top: 100px;
    margin-left: 10px;
}

.chef-name {
    font-weight: 400;
    font-size: 12pt;
}

.carousel-item {
    padding: 0 15%;
}

.carousel-control-next-icon , .carousel-control-prev-icon {
    background-color: black;
}

/* Press logos */

#press-logo-section {
    padding: 35px 25px;
    text-align: center;
    background-color: rgba(211, 177, 130, 0.733);
}

.press-logos {
    border-radius: 100%;
    width: 60%;
}

/* Subscription plans */

#subscription-plan {
    margin-bottom: 50px;
    padding: 0 100px;
}

.subscription-description {
    text-align: center;
    padding: 50px 0;
}

.card {
    height: 25rem;
    width: 99%
}

.card-header , .card-footer {
    background-color: rgba(245, 207, 164, 0.938);
    text-align: center;
}

.card-body {
    text-align: center;
}

.subscription-item {
    padding: 0 2%;
}

/* CTA section */

#cta-section {
    background-color :rgba(211, 177, 130, 0.733);
    text-align: center;
    height: 300px;
}

.cta {
    padding: 100px 2% 0;
    font-size: 32pt;
    font-weight: 600;
    color:rgb(109, 77, 40)
}

.cta-download-button {
    margin: 1.5rem 2.5rem 0 0;
}

/* Footer Section */

#footer {
    text-align: center;
    height: 150px;
    padding-top: 50px ;
}

.social-icons {
    margin-bottom: 10px;
}

.footer-icon {
    margin: 0 0.85rem 0 ;
}

.copyright-text {
    color:#8f8f8f
}

@media (max-width: 762px) {

    .heading-text {
        text-align: justify;
        text-align: center;
    }

    .pizza-image {
        margin-top: 15px;
        position: static;
        transform: rotate(0deg);
    }

    #heading-section {
        text-align: center;
    }

    .testimonial-image {
        text-align: center;
    }

    .testimonial-text {
        text-align: center;
        position: relative;
        bottom: 100px;
    }
}