body {
    font-family: "IBM Plex Mono",monospace;
}

#title {
    background-color: rgba(211, 177, 130, 0.733);
    line-height: 1.5;
}

.container-fluid {
    padding-left: 10%;
    padding-top: 1.5%;
    padding-right: 10%;
}

.heading-text {
    font-family: "IBM Plex Mono", monospace;
    font-size: 2.5rem;
    font-weight: 400;
    text-align: left;
    line-height: 1.25;
    color: rgb(109, 77, 40);
}

.pizza-image {
    width: 60%;
    margin-bottom: 1.75rem;
    position: relative;
    left: 175px;
    bottom: 30px;
}

/*Navigation bar*/

.navbar {
    padding: 0 0 2.5rem 0;
}

.navbar-brand {
    font-weight: 700;
    font-size: 2.25rem;
}

.nav-item {
    padding: 0 12px;
}

.nav-link {
    font-size: 18px;
    font-weight: 300;
}

.download-button {
    margin-top: 2.5rem;
    margin-right: 2.5rem;
}